* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    height: 80px;
    background: rgb(248, 166, 244);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo{
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

nav a:hover{
    color: #fff;
}

.hero {
    background: #fae1fa;
}
.hero-contatiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.colum-left{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
}

.colum-left h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    
}

.colum-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    
}

button {
    padding: 1rem ;
    font-size: 1rem;
    border: none;
    color: #ffcff9;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background: #fff;
    color: #000;
}

.colum-left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-image {
    width: 50%;
    height: 100%;
}

@media  screen and (max-width:768px) {
    .hero-contatiner {
        grid-template-columns: 1fr;
    }
}

.launch-timer{
    display: flex;
}

.launch-timer div{
    flex-basis: 100px;
}

.launch-timer div{
    font-size: 60px;
    margin-bottom: -14px;
}

    
